.seekerdash {
  margin-top: calc(8.2vh);
}


.background_right {
  width: 60vw;
  background-color: #FFF8F8;
  background-image: url("https://res.cloudinary.com/dlr6yrpai/image/upload/v1662472014/MatchMe/Group_55_ohxv8p.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 39vw 36vw;
  opacity: 7
  0%;

}


.divide_ds {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#FFFFFF 23%, #FFDED3 50%, #FFFFFF 96%) ;
}

.background_seeker {
  background-color: linear-gradient(#FFFFFF 23%, #FFDED3 63%, #FFFFFF 96%);
}

.seekercenter {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seekercenter img{
  width: 40vw;
}
