.seekerdash {
  margin-top: calc(8.2vh);
}


.background_right {
  width: 60vw;
  background-color: #FFDDCE;
  background-image: url("https://res.cloudinary.com/dlr6yrpai/image/upload/v1662472014/MatchMe/Group_55_ohxv8p.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 39vw 36vw;
  opacity: 7
  0%;

}


.divide_ds {
  display: flex;
  justify-content: space-between;
}
