// Specific CSS for your home-page
@font-face {
  font-family: "Amerigo Bold BT";
  src: url('assests/Amerigo_Bold_BT');
}

@font-face {
  font-family: "Amerigo BT";
  src: url('assests/Amerigo_BT');
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url('assests/Gilroy-ExtraBold');
}

@font-face {
  font-family: "Gilroy-Light";
  src: url('assests/Gilroy-Light');
}


.btn_landing_start {
  position: absolute;
  left: 44.8vmax;
  top: 16vmax;
  border-color: #8E3E3E;
  border-radius: 1.8vw;
  color: #8E3E3E;
  border-width: .19vw;
  padding: .6vw;
  font-family: 'Amerigo BT';
  font-size: 1.4vw;
}

.btn_landing_log_in {
  position: absolute;
  right: 1vh;
  top: 1vh;
  border-color: #8E3E3E;
  border-radius: 20px;
  color: #8E3E3E;
  border-width: .12vw;
  padding: 5px 30px 5px 30px;
  font-family: 'Gilroy';
  font-weight: light;
  font-size: 15px;
}
