.background_registration1 {
  background-color: white;
}

.question {
  border-color: #8E3E3E;
  border-radius: 1.8vw;
  color: #2f2f2f;
  font-family: 'Gilroy';
  font-size: 0.9vw;
  margin: 12vh 0 5vh 5vw;
  display: flex;
  justify-content: space-between;
}


.row-form {
  display: flex;
  border: none;
  -webkit-appearance: none;
  width: 100%;
  justify-content: space-between;
}


.radio_buttons {
  width: 100%;
  display: flex;
}

.form-control {
  border: none;
  width: 100%;
}


.form-control:focus, input:focus{
  outline: none;
}


element.style {
  border: none;
}

.form-label {
  margin-left: .5;
  margin-top: 0.5vw;
  font-family: Gilroy-ExtraBold;
}

.form-label {
  margin-bottom: 0 !important;
}

.box{
  border: solid;
  color: black;
  border-width: 1px;
  border-radius: 2vw;
  padding: 0 1vw;
  margin-top: 0.5vw;
  width: 100%;
}


.box1{
  border: solid;
  color: black;
  border-width: 1px;
  border-radius: 2vw;
  padding: 0 1vw;
  margin-bottom: .5vw;
  width: 48%;
}

.gender-wrapper {
  width: 100%;
  align-items: center;
  margin: 0;
}

.gender_text {
  width: 5vw;
  margin: auto;
}

.box2{
  border: solid;
  color: black;
  border-width: 1px;
  border-radius: 2vw;
  padding: 0 1vw;
  margin: 0 .5vw .5vw 0;
  display: flex;
  width: 100%;
  height: 13vh;
}

.box4 {
  border: solid;
  color: black;
  border-width: 1px;
  border-radius: 2vw;
  padding: 0 1vw;
  margin-bottom: .5vw;
}

.required.user_gender {
  margin: 0;
}

.row-form.gender {
  margin: 0;
}

.box3{
  border: solid;
  color: black;
  border-width: 1px;
  border-radius: 2vw;
  padding: 0 1vw;
  width: 35%;
  height: 13vh;
}

.gender-item {
  flex: 0 2 30%;
  margin: auto 1vw;
}

.gender-selector {
  position: absolute;
  transform: scale(0);
}

.gender-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 5vh;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  background-color: var;
}

.gender-selector:checked + label {
  color: #a94e4e !important;
}

#user_gender_male + label {
  color: #a94e4e;
}

#user_gender_male:checked + label {
  border-width: 3px;
  border-color: #DD8F97;
}


#user_gender_female + label {
  color: #a94e4e;
}

#user_gender_female:checked + label {
  border-width: 3px;
  border-color: #DD8F97;
}



.whiteback input[type="text"], .whiteback input[type="password"], .whiteback input[type="number"], .whiteback input[type="password"], .whiteback input[type="email"], .whiteback input[type="file"], textarea {
  background-color : white;

}


#background_registration {
  width: 45vw;
  position: absolute;
  top: 6vw;
  left: 45vw;
  z-index: -1;
}


.whiteback input[type="file"] {
  $form-file-button-color:  #ffffff;
  $form-file-button-bg: #DD8F97;
}


.TitleForm {
  font-family: Amerigo_BT;
  font-size: 3.2vw;
  text-align: center;
  width: 25vw;
}


.TitleResign {
  font-family: Amerigo_BT;
  font-size: 1.5vw;
  text-align: center;
}

#resign p {
  font-size: 1.3vw;
}

.box_passwords {
  display: flex;
  flex-direction: column;
}



.form-label.string.optional {
  width: 30vw;
}


.btn_back {
  position: absolute;
  top: 10vh;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 7px;
  color: #DD8F97;
  font-family: 'Gilroy-ExtraBold';
  font-size: 17px;
  width: 5vw;
  height: 5vh;
  margin-left: 1vw;
  z-index: 0;
}


.btn_back:hover {
  background-color: #ffffff;
  color: #DD8F97;
  border: none
}

.btn_delete_account {
  align-items: center;
  background-color: #DD8F97;
  border-radius: 7px;
  color: #ffffff;
  font-family: 'Gilroy-ExtraBold';
  font-size: 17px;
  height: 5vh;
}

.btn_delete_account {
  background-color: #DD8F97;
  color: #ffffff;
  border: none
}
