.question {
  position: absolute;
  left: 5vmax;
  top: 3vmax;
  border-color: #8E3E3E;
  border-radius: 1.8vw;
  color: #2f2f2f;
  padding: .6vw;
  font-family: 'Gilroy';
  font-size: 0.9vw;
  width: 30vw;
}

.titleseeker {
  font-family: 'Amerigo BT';
  text-align: center;
  font-size: 50px;
  padding-top : 50px;
}


.signup{
  right: 1vh;
  top: 1vh;
  border-color: #8E3E3E;
  border-radius: 20px;
  color: #8E3E3E;
  border-width: .12vw;
  padding: 5px 30px 5px 30px;
  font-family: 'Gilroy';
  font-weight: light;
  font-size: 15px;

}
