
.background_select {
  background: linear-gradient(#ffffff 60%, #FFDED3 95%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sign_up_to {
  margin: 15vh 0 8vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_up_to p{
  font-family: Gilroy-Light;
  font-size: 1.5vw;
}

#logo_select {
  width: 30vh;
}


.ButtonSelect {
  display: flex;
  border-color: #E5E5E5;
  border-radius: 1.8vw;
  align-items: center;
  margin: 0;
  border-width: .2vh;
}

.ButtonSelect:hover {
  border-color: #8E3E3E;
  border-width: .4vh;
  margin: -0.2vh;
}

.ButtonSelect:hover + #checked{opacity: 1;}

.TextSelect {
  padding: 0 10vw 0 3vw;
  flex-direction: column;
  font-size: 1.5vw;
  width: 100%;
}

.TextSelect p{
  margin: .5vw;
  font-family: Gilroy-ExtraBold;
  text-align: left;
  width: 20vw;
}

#LogoMatch {
  height: 10vh;
}

#lower {
  font-size: 1.2vw;
  font-family: Gilroy-Light;
}

#checked {
  height: 2.2vw;
  position: relative;
  bottom: 14vh;
  left: 38vw;
  opacity: 0;
}

.SelSI {
  display: flex;
  justify-content: center;
  margin: auto;
}

.SelSI p{
  font-family: Gilroy-Light;
  font-size: 1.2vw;
  margin: auto 0;
}

.SelSI a{
  font-family: Gilroy-ExtraBold;
  font-size: 1.4vw;
  text-decoration: none;
  color: #8E3E3E;
  margin-left: 1.5vw;
}

.SelSI a:hover{
  color: #6b3131;
}
