
.background_select {
  background: linear-gradient(#ffffff 60%, #FFDED3 95%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sign_up_to {
  margin: 15vh 0 8vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_up_to_2 {
  margin: 15vh 0 8vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_up_to p{
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
  font-size: 1.3vw;
}

#logo_select {
  width: 25vh;
}


.ButtonSelect {
  display: flex;
  border-color: #E5E5E5;
  border-radius: 1.8vw;
  align-items: center;
  margin: 0;
  border-width: .2vh;
  text-decoration: none;
  margin-bottom: 3vh;
}

.ButtonSelect:hover {
  border-color: #8E3E3E;
  border-width: .4vh;
  margin: -.2vh -.2vh 2.8vh -.2vh;
}

.ButtonSelect:hover > #checked{opacity: 1;}

.TextSelect {
  padding: 0 10vw 0 3vw;
  flex-direction: column;
  font-size: 1.5vw;
  width: 100%;
}

.TextSelect p{
  margin: .5vw;
  font-family: 'Gilroy-ExtraBold';
  src: font-url("/assets/fonts/Gilroy-ExtraBold.otf");
  text-align: left;
  width: 20vw;
}

#LogoMatch {
  width: 4vw;
}

#lower {
  font-size: 1.2vw;
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
}

#checked {
  height: 2.2vw;
  position: relative;
  bottom: 3.8vh;
  opacity: 0;
}

.SelSI {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.SelSI p{
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
  font-size: 1vw;
  margin: auto 0;
}

.SelSI a{
  font-family: 'Gilroy-ExtraBold';
  src: font-url("/assets/fonts/Gilroy-ExtraBold.otf");
  font-size: 1vw;
  text-decoration: none;
  color: #DD8F97;
  margin-left: 1vw;
}

.SelSI a:hover{
  color: #6b3131;
}

.linkuser {
  text-decoration: none;
}

.linkuser:hover {
  color: rgb(24, 24, 24)
}
