<div style="margin-top: 10vw">


<div class="recent_matches mt-4">
  <%  @notifications.each_with_index do |notification, i| %>
    <% break if i == 10; %>
    <div class="match_display mt-3">
      <%= notification.to_notification.message %>
      <%= raise%>
    </div>
  <% end %>
</div>
