<body class="background_seeker">
  <div class="seekerdash">
    <div class="divide_ds" data-controller="chat">
        <div><%= render 'layouts/ds_left' %></div>
        <div class="background_right"><%= render 'layouts/ds_right' %></div>
    </div>
  </div>
</body>
