
<body class="background_seeker">
  <div class="container seekerdash">
    <div class="selMM">
      <p>Matches</p><p>Messages</p>
    </div>
    <div class="divide_ds">
        <div><%= render 'layouts/ds_left' %></div>
        <div><%= render 'layouts/testJS' %></div>
    </div>
  </div>
</body>
