<div>
<%= render 'layouts/navbar' %>
<a class="btn_landing_start btn btn_flat" href="/select"><strong>Get Started!</strong></a>
<%# <%= link_to "Login", new_user_session_path, class: "btn_landing_log_in btn btn_flat" %>
<%= render 'vectors/vector_homepage' %>

<%# <%= link_to "Login", new_user_session_path, class: "btn_landing_log_in btn btn_flat" %>
</div>
