<div>

<a class="btn_landing_start btn btn_flat" href="/select"><strong>Get Started!</strong></a>
<a class="btn_landing_log_in btn btn_flat" href="/session/new"><strong>LOG IN</strong></a>
<%= render 'vectors/vector_homepage' %>

</div>
