<div>
<a class="btn_landing_start btn btn_flat" href="/places"><strong>Get Started!</strong></a>
<a class="btn_landing_log_in btn btn_flat" href="/places">LOG IN</a>
<%= render 'vectors_homepage/vector_homepage' %>
</div>
