
<body class="background_select">
  <div class="select_buttons">
    <div class="sign_up_to">
      <p>Sign up to</p>
      <img id="logo_select" src="https://s3-alpha-sig.figma.com/img/44bc/019c/339b6ed80ec5b4f02d3f651fa3faaa31?Expires=1662940800&Signature=EcaDWxddmE3nXISNvWs6fRSvqLHxcYq8SbpGkCA2FUEMGacKIUG7haCWAx-eqJEG81xw5AEn9981rrUEDfgQMJ8SjUTB2yes3jNv5YbuZflXafc9Dz1DQzQFXnTzO85~BmS9Sne4ZyUCsuUBiYa9HjOD1zXsgx8yPMjVHNFnE3OZfLy30iiU24qB8ELRrZzE6BSFyiEsz07KLsCf1jusRVEO-s-hZT7tzJJy66-TOohTwmlQtsjsqsMyOSn7LtQrWYZtaeHyzC-T0v556HY-In5asExpkw6qao0R5qrYY27RHO2GzOrDu4TQmRGs33BZoHpTQiuuPgFPOyJq7DUi8w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Matchme" draggable="false">
    </div>

    <div class="ButtonMatchMaker">
    <input type="checkbox" id="myCheckbox1" />
    <label for="myCheckbox1"><img src="https://images.pexels.com/photos/1024960/pexels-photo-1024960.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1024960.jpg&fm=jpg" height=40px />
    <p>test test</p></label>



      <%= link_to "MatchMaker", new_user_registration_path(query: "MatchMaker") %>
    </div>
    <div class="ButtonMatchSeeker">
      <%= link_to "MatchSeeker", new_user_registration_path(query: "MatchSeeker") %>
    </div>




  </div>
</body>
