.bodyseeker {
  background-color: #eec0c033;
  height: 94vh;

}

.namematchchat h2{
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
  color: #a94e4e;
}

.namematchchat {
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
  color: #a94e4e;
}

.chatroom {
  height: 80vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5vw;
  box-shadow: 0px 1px 2px #888888;
  position: relative;
}

.avatar_2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px #fff2f28a;
  opacity: 0.9;
  object-fit: cover;

  }

  .sendmessage-button {
    width: 15vw;
    background-color: #c37577;
    border: none;
    color: white;
    transition: 0.4s;

  }

  .sendmessage-button:hover {
    background-color: #ba7274dd;
    color: white;
  }


.formmessage {
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");

  bottom: 0px;
  width: 96%;
}


.container::-webkit-scrollbar {
  width: 0.3vw;               /* width of the entire scrollbar */
}

.container::-webkit-scrollbar-track {
  background: #ffbcbfa7;        /* color of the tracking area */
  border-radius: 10vh;       /* roundness of the scroll thumb */

}

.container::-webkit-scrollbar-thumb {
  background-color: #d06e6e94;    /* color of the scroll thumb */
  border-radius: 10vh;       /* roundness of the scroll thumb */
 /* creates padding around scroll thumb */
}
