.background_left {
  background-color: #FFFBFA;
  width: 40vw;
  height: 100%;
  padding: 2vw;
}


#matchtitle {
  background-color: #FF9282;
  padding: 1vw;
  border-radius: 1.5vw;
  color: #FFEEEE;
  font-family: Gilroy-ExtraBold;
  text-align: center;
  margin: 0 12vw;
  font-size: 1.2vw;
  }

.match {
  position: relative;
}



.img-fluid {
  border-radius: .7vw;
  border: solid;
  border-width: .2vw;
  border-color: #93756E;
  margin: .4vw auto;
  object-fit: cover;
  height: 18vw;
  width: 14vw;
  cursor: pointer;
}

.img-fluid:hover {
  border: solid;
  border-width: .2vw;
  border-color: #FF9282;
}


.info_dscard {
  position: absolute;
  bottom: 2.8vw;
  left: .8vw;
  z-index: 2;
  width: 100%;
}

.info_dscard:hover .img-fluid{
  border: solid;
  border-width: .4vw;
  border-color: #FFF7F3;
}

.info_dscard p{
  margin: 0;
}

.fullname {
  color: whitesmoke;
  font-size: .9vw;
  text-shadow: 1px 1px 3px #1e1e1e
}

.location {
  color: whitesmoke;
  font-size: .8vw;
  text-shadow: 2px 2px 3px #1e1e1e;
  font-family: Gilroy-Light;
}

.age {
  color: whitesmoke;
  font-size: .8vw;
  text-shadow: 1px 2px 3px #1e1e1e;
  font-family: Gilroy-Light;
}

.Chatlink {
  position: relative;
  bottom: 18vw;
  left: 7.2vw;
  z-index: 2;
  background-color: #DD8F97;
  border-radius: .7vw;
  color: #ffffff;
  font-family: Gilroy-Light;
  padding: .3vw;
  font-size: 1vw;
  border: none;
  transition: transform 0.6s;
  text-decoration: none;
}

.Chatlink:hover {
  text-decoration: none;
  color:white;
}
