.background_left {
  background-color: #ffddceb1;
  width: 40vw;
  height: 100%;
  padding: 2vw;
}

.divide_ds {
  min-height: 91.55vh;
}

#matchtitle {
  background-color: #D06E6E;
  box-shadow: 2px 1px 3px #381c1c95;
  padding: 5px 0;
  border-radius: 1.5vw;
  color: #ffffff;
  font-family: 'Gilroy-Light';
  text-align: center;
  margin: 0 12vw;
  font-size: 1vw;
  margin-bottom: 1.7vh;
  }

.match {
  position: relative;
}



.img-fluid {
  border-radius: .7vw;
  border: solid 4px;
  border-color: #93756E;
  margin: .4vw auto;
  object-fit: cover;
  height: 13vw;
  width: 10vw;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.9;
}

.img-fluid:hover {
  border: solid 4px;
  border-color: #9d574ec1;
}


.info_dscard {
  position: absolute;
  bottom: 2.8vw;
  left: .8vw;
  z-index: 2;
  width: 100%;
}

.info_dscard:hover .img-fluid{
  border: solid;
  border-width: .4vw;
  border-color: #FFF7F3;
}

.info_dscard p{
  margin: 0;
}

.fullname {
  color: whitesmoke;
  font-size: .9vw;
  text-shadow: 1px 1px 3px #1e1e1e;
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");

}

.location {
  color: whitesmoke;
  font-size: .8vw;
  text-shadow: 2px 2px 3px #1e1e1e;
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
}

.age {
  color: whitesmoke;
  font-size: .8vw;
  text-shadow: 1px 2px 3px #1e1e1e;
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
}

.Chatlink {
  position: relative;
  bottom: 12.7vw;
  left: 6.5vw;
  z-index: 2;
  background-color: #dd8f97b8;
  border-radius: .7vw;
  color: #ffffff;
  font-family: 'Gilroy-Light';
  padding: .3vw;
  font-size: 1vw;
  border: none;
  transition: 0.2s;
  text-decoration: none;
}

.Chatlink:hover {
  text-decoration: none;
  color:white;
  background-color: #dd8f97e0;

}


.no_match {
  font-family: 'Gilroy-Light';
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  text-align: center;
  align-items: center;
}

.no_match img{
  border-radius: .8vw;
  width: 20vw;
  object-fit: cover;
  filter:saturate(200%)
}


.no_match p{
  font-size: 1.4vw;
  margin: 2vw;
}

.remove {
  bottom: 11.8vw;
  left: 6.7vw;
  z-index: 2;
  background-color: transparent;
  color: #DD8F97;
  font-family: Gilroy-Light;
  font-size: 0.6vw;
  border: none;
  transition: 0.2s;
  text-decoration: none;
  margin-bottom: 15px;
  margin-right: 5px;

}

.remove:hover {
  bottom: 11.8vw;
  left: 6.7vw;
  z-index: 2;
  background-color: transparent;
  font-family: Gilroy-Light;
  font-size: 0.6vw;
  border: none;
  color: #ad2432c9;
  margin-bottom: 15px;
  margin-right: 5px;
}

.Chatlinkdash {
  z-index: 2;
  background-color: #dd8f97b8;
  border-radius: .7vw;
  color: #ffffff;
  font-family: 'Gilroy-Light';
  src: font-url("/assets/fonts/Gilroy-Light.otf");
  padding: .3vw;
  font-size: 1vw;
  border: none;
  transition: 0.2s;
  text-decoration: none;
}

.Chatlinkdash:hover {
  text-decoration: none;
  color:white;
  background-color: #dd8f97e0;

}
