.rightside_ds {
  margin: 3vw 0;
  background-color: #FFF8F8
}

.background_image_right img{
  height: 80vw;
  z-index: -1;
}

.rlds {
  background-color: #ffffff;
  border-radius: 1.2vw;
  overflow: hidden;
  position: sticky;
  width: 45vw;
  margin: auto;
}


.img-right {
  object-fit: cover;
  object-position: 100% 20%;
  width: 100%;
  height: 40vh;
}

.description {
  display: flex;
  flex-direction: column;
  height: 35vh;
}

.description h1{
  font-family: Amerigo_BT;
}

.description h3{
  font-family: Amerigo_BT;

}

#geo_right {
  font-family: 'Gilroy-ExtraBold';
  src: font-url("/assets/fonts/Gilroy-ExtraBold.otf");
  font-size: 1.1vw;
  color: #4D4D4E;
  opacity: .8;
  top: -.3vw;
}

.gilroy_strong {
  font-family: 'Gilroy-ExtraBold';
  src: font-url("/assets/fonts/Gilroy-ExtraBold.otf");

  margin-bottom: 0;
}


.gilroy_light {
  font-family: 'Gilroy-Light';
  // src: font-url("/assets/fonts/Gilroy-Light.otf");
}

.interests {
  font-family: Poppins;
  background-color: #e67272af;
  border-radius: 1.5vw;
  color: #fffdfd;
  justify-items: start;
  padding: 0 1vw;
  margin-right: 0.4vw;
  font-size: 1vw;
}


.close_card_button {
  top: 1vw;
  right: 1vw;
  background-color: #fffdfc;
  position: absolute;
  border-radius: 50%;
  transition: 0.3s;
  padding: 0.5vw;
}

.close_card_button:hover {
  color: #4D4D4E;
  background-color: #ffffff;
}


.cloud_background {
  position:relative;
  width: 2.5vw;
  bottom: .5vw;
  right: 2.1vw;
}


#Name_age {
  display: flex;
  bottom: 0;
  margin-top: -6vh;
  width: 75%;
  align-items: baseline;
}

.blockbutton {
  display: flex;
  justify-content: flex-end;
  margin-top: 2vh;
}
