.navbar {
  background-color: white;
  height: 9vh;
}

#MMLogo {
  height: 45px;
  position:absolute;
  top: 10px;
}

.dropdown-menu {
  border-radius: 0.5vw;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}


.dropdown-item {
  margin: 0;
}


.dropdown-item:hover {
  background-color: #E5A6AD;
  border-radius: px;

}

.name_ava {

  font-family: Gilroy-ExtraBold;
  margin-right: 1rem;
  margin-top: 1vw;
}
