.navbar {
  background-color: white;
  height: 9vh;
}

#MMLogo {
  height: 3.5vh;
}

.dropdown-menu {
  border-radius: 0.5vw;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Gilroy-Light';
}


.dropdown-item {
  margin: 0;
}


.dropdown-item:hover {
  background-color: #E5A6AD;
  border-radius: 0.5vw;
}

.name_ava {
  display: flex;
  font-family: 'Gilroy-Light';
  font-size: 1.8vh;
  margin-right: 0.6vw;
}

.name_ava p{
  margin: auto 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.nav-item {
  text-align: right;
}

.dropdown-menu.dropdown-menu-end {
  position: absolute;
}


.NotificationBell {
  height: 3vh;
}

.dropdown-toggle::after {
  content: none;
}


.dropdown.center {
  margin: auto .6vw auto 0;
}
