<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <div class="nav-bar_logo">
      <%= link_to root_path do %>
      <img id="MMLogo" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1663146305/MatchMe/Logo_match_me_ma7b57.png" alt="Matchme" draggable="false">
      <% end %>
    </div>
  </div>
</nav>
