<div class="test">
  <section class="right-image">

  <div class="container rlds rightside_ds">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" class="img-right" style="display:block">
    <%# <p id="expandedName"></p> %>
    <span class="NameText">Test</span>



  </div>


  </section>
</div>


<style>
.mystyle {
  display: none;
}
</style>

<script>

function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  // var Name = document.getElementByClassName("fullname").innerHTML;
  // var imgGeo = document.getElementById("expandedGeo");
  // var imgDescription = document.getElementById("expandedDescription");
  // var imgInterest = document.getElementById("expandedInterest");
  expandImg.src = imgs.src;
  // document.getElementById("expandedName").innerHTML = Name;
  // expandedGeo.innerHTML = imgs.m.geo;
  // expandedDescription.innerHTML = imgs.m.description;
  // expandedInterest.innerHTML = imgs.m.interest;
  expandImg.parentElement.style.display = "block";
}

</script>


<script>
let html = document.getElementById("myList").innerHTML;
document.getElementById("demo").innerHTML = html;
</script>
